[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "libraries/Adafruit_BusIO"]
	path = libraries/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "libraries/OpenAudio_ArduinoLibrary"]
	path = libraries/OpenAudio_ArduinoLibrary
#  	url = https://github.com/chipaudette/OpenAudio_ArduinoLibrary.git
	url = https://github.com/martin-rod/OpenAudio_ArduinoLibrary.git
#	url = git@github.com-mr:martin-rod/OpenAudio_ArduinoLibrary.git
#	branch = mr_v6_tst
	branch = mr_v7
[submodule "libraries/Si5351Arduino"]
	path = libraries/Si5351Arduino
    url = https://github.com/martin-rod/Si5351Arduino.git
#	url = git@github.com-mr:martin-rod/Si5351Arduino
	branch = mr_v6_tst
[submodule "libraries/Rotary"]
	path = libraries/Rotary
	url = https://github.com/brianlow/Rotary
[submodule "T41EEE"]
	path = T41EEE
	url = https://github.com/Greg-R/T41EEE
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "CMSIS_6"]
	path = CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
#	url = git@github.com:ARM-software/CMSIS_6.git
[submodule "CMSIS-DSP"]
	path = CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
#	url = git@github.com:ARM-software/CMSIS-DSP.git
